/* Font Style */

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

/* Base Styles */
:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);

    --neutral-grey-500: hsl(234, 12%, 34%);
    --neutral-grey-400: hsl(212, 6%, 44%);
    --neutral-white: hsl(0, 0%, 100%);

    --font-size-body: 15px;

    --font-primary: 'Poppins', sans-serif;
    --font-weight-extralight: 200;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
}

/* Mobile Workflow*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    color: var(--neutral-grey-500);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0 3rem;
    gap: 1.5rem;
}

main .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.9rem;
    max-width: 24rem;
}

main .title .title__subtitle {
    font-weight: var(--font-weight-extralight);
    font-size: clamp(1.5rem, 2.3vw, 2rem);
}

main .title .title__main {
    font-weight: var(--font-weight-semibold);
    font-size: clamp(1.5rem, 2.3vw, 2rem);
    padding-bottom: 1rem;
    line-height: 1.3;
}

main .title .title__description {
    font-weight: var(--font-weight-regular);
    max-width: 56ch;
    font-size: 1rem;
}

main .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

main .item {
    width: 20rem;
    box-shadow: 0.5rem 1rem 2.2rem rgba(0, 0, 0, 0.1);
    padding: 2rem 2.5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-radius: 0.75rem;
    border-top: 0.3rem solid;
}

main .supervisor {
    border-color: var(--primary-cyan);
}

main .team-builder {
    border-color: var(--primary-red);
}

main .karma {
    border-color: var(--primary-orange);
}

main .calculator {
    border-color: var(--primary-blue);
}

main .item h2 {
    font-weight: var(--font-weight-semibold);
    font-size: 1.3rem;
}

main .item p {
    font-weight: var(--font-weight-regular);
    color: var(--neutral-grey-400);
    font-size: 0.8rem;
}

main .item img {
    width:  4rem;
    align-self: flex-end;
    margin-top: 1.5rem;
}

/* Media Query for desktop screen-sizes */

@media (min-width: 48em) {
    main .title {
        min-width: 38rem;
    }

    main .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media Query for desktop screen-sizes */

@media (min-width: 64em) {
    main {
        padding: 0;
        height: auto;
        margin: 4.5rem 0 6rem;
    }

    main .title {
        min-width: 38rem;
    }

    main .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    main .supervisor {
        grid-column: 1;
        grid-row: 1/3;
    }

    main .calculator {
        grid-column: 3;
        grid-row: 1/3;
    }

    main .item {
        padding: 1.8rem 1.8rem 2rem;
        gap: 5px;
    }

    main .item img {
        margin-top: 1rem;
        width: 3.5rem;
    }
}